.wrapper {
    display: grid;
  }
  
.box1 {

    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .box2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .box3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .box4 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  /*
  Working with the grid area instead of the explicit columns and row declarations. Here it is in the order row start / column start / row end / column end
  .box1 {
    grid-area: 1 / 1 / 4 / 2;
  }
  .box2 {
    grid-area: 1 / 3 / 3 / 4;
  }
  .box3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .box4 {
    grid-area: 3 / 2 / 4 / 4;
  }
*/ 